@if (!showCarForm()) {
@if (showDashboardBackButton()) {
<div class="container-sm mt-4">
    <button type="button" class="btn btn-lg" routerLink="/dashboard" aria-label="Retour au tableau de bord">
        <i class="bi bi-chevron-left"></i>
    </button>
</div>
}
@if (successMessage()) {
<div class="container-sm mt-4 alert alert-success" role="alert">
    {{ successMessage() }}
</div>
}
<div class="container-sm d-flex justify-content-center mt-4">
    <div class="card bg-light text-center add-car-card" role="button" tabindex="0" style="width: 18rem;"
        (click)="openCarForm('create')">
        <div class="card-body">
            <i class="bi bi-plus-square fs-2 text-primary"></i>
            <h5 class="card-title mt-2">Ajouter une voiture</h5>
        </div>
    </div>
</div>
<div class="container-sm d-flex flex-column mt-4">
    <hr>
    <h2 class="mt-4 text-center">Stock actuel</h2>
    <app-gallery (editCar)="openEditCarForm($event)"></app-gallery>
</div>
}


@if (showCarForm()) {
<app-form [mode]="carFormMode()" [car]="selectedCar()" (carSubmit)="submitCarForm($event)"
    (closeForm)="closeCarForm()"></app-form>
@if (errorMessage()) {
<div class="container-sm mt-4 alert alert-danger" role="alert">
    {{ errorMessage() }}
</div>
}
}
